
  <!-- <div class="main-container"  class="list-item">

    <div class="card-ctn" *ngFor="let item of items">
      <div class="card">
          <p>Item Name: {{item.item_name}}</p>
        <p>Category: {{item.category}}</p>
          <p>Quantity: {{item.quantity}}</p>
          <p>Price: {{item.price}}</p>
    
          <div>
            <button class="del-btn">Remove</button>
            <button class="edit-btn">Update</button>
          </div>
          </div>
          </div>
    

  </div> -->
<div class="flex-ctn">
  <table id="table">
    <thead>
    <th>Name</th>
    <th>Category</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Action</th>
    </thead>
    <tbody *ngFor="let item of items">
      <tr>
        <td>{{item.item_name}}</td>
        <td>{{item.category}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.price}}</td>
        <td class="actions">
          <button class="del-btn" (click)="deleteItem(item._id)">Remove</button>
          <button class="edit-btn" routerLink="/Update/{{item._id}}">Update</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>


